:root{
    /* Fondo principal */
    --color-principal:#08111F;

    /* Tarjeta */
    --color-card:#172235;

    /* Colores principales */
    --color-secundario:#2563EB;
    --color-acento:#60A5FA;

    /* Texto */
    --color-texto:#F8FAFC;
    --color-texto-secundario:#94A3B8;

    /* Estados */
    --color-exito:#22C55E;
    --color-error:#EF4444;
    --color-advertencia:#F59E0B;

    /* Bordes */
    --color-borde:#2B3A55;

}

/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ELEMENTOS GENERALES */

body{
font-family:'Poppins',sans-serif;
color:var(--color-texto);
}

a{
    color:inherit;
}

button,
input{
    font-family:inherit;
}