:root{
--color-principal:#0F172A;
--color-secundario:#2563EB;
--color-acento:#38BDF8;
--color-texto:#F8FAFC;
--color-card:#1E293B;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
color:var(--color-texto);
}