/* RECUPERAR CONTRASEÑA */

.recuperar{
    margin-top:10px;
    text-align:center;
}

.link-recuperar{
    display:inline-block;
    margin-top:5px;
    transition:.3s;
    cursor:pointer;
}

.link-recuperar:hover{
    opacity:.8;
}