:root{
    --color-principal:#1b0b2e;
    --color-secundario:#ff4fd8;
    --color-acento:#7b2cff;
    --color-texto:#ffffff;
    --color-fondo:#0f071b;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:var(--color-fondo);
    color:var(--color-texto);
}